*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.component_first{
    display:flex;
    justify-content: space-around;
}

ul{
    display: flex;

}
.logo_div{
    padding: 30px;

}
.component_first > .logo_div > .Logo{
    text-decoration: none;
    color: red;
    font-size: 30px;
}
.menu > ul > li{
    list-style: none;
    margin-right: 20px;
}
.menu > ul > li > a{
    text-decoration: none;
    height: 90px;
    color: #63666a;
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
    transition: .5s;
}
.menu > ul > li > a:hover{
    border-bottom: 2px solid red;
}

.heade_div{
    background-color: white;
}